<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GameStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
            <h5 class="my-0 mr-md-auto font-weight-normal" asp-controller="Home" asp-action="Index">Game Store</h5>
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark" asp-controller="Home" asp-action="Index">Home</a>
                <a class="p-2 text-dark" asp-controller="Games" asp-action="Index">New Game</a>
                <a class="p-2 text-dark" asp-controller="Categories" asp-action="Index">New Category</a>
                <a class="p-2 text-dark" asp-controller="ShopCart" asp-action="Index">Goods</a>
            </nav>
            <a class="btn btn-outline-primary" href="#">Sign up</a>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - GameStore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
